
codigo/server/routers/__pycache__/usuario.cpython-312.pyc
codigo/server/routers/__pycache__/secretario.cpython-312.pyc
codigo/server/routers/__pycache__/professores.cpython-312.pyc
codigo/server/routers/__pycache__/matricula.cpython-312.pyc
codigo/server/routers/__pycache__/disciplinas.cpython-312.pyc
codigo/server/routers/__pycache__/curso.cpython-312.pyc
codigo/server/routers/__pycache__/cobranca.cpython-312.pyc
codigo/server/routers/__pycache__/aluno.cpython-312.pyc
codigo/server/data/__pycache__/database.cpython-312.pyc
codigo/server/data/__pycache__/__init__.cpython-312.pyc
