@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0044cc; /* Cor de fundo azul */
  }
  
  .login-container {
    background-color: #0044cc;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
  }
  
  .login-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: #ffffff;
    color: #0044cc;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #f0f0f0;
  }
  
  .login-links {
    margin-top: 20px;
  }
  
  .link {
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  